.page-heading {
    font-size: 25pt;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif
}

.color--red {
    color: blue;
}

body {
    background-color: #d3d3d3;
}

